{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__dirname": "readonly",
    "require": "readonly"
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "backtick",
      {
        "avoidEscape": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": true,
        "nonwords": false,
        "overrides": {
          "!": false
        }
      }
    ],
    "keyword-spacing": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "node/no-extraneous-require": [
      "error",
      {
        "allowModules": [
          "chalk"
        ]
      }
    ]
  }
}