@font-face {
  font-family: 'Pixel Art';
  src: url('fonts/Pixel-Art.eot');
  src: url('fonts/Pixel-Art.eot?#iefix') format('embedded-opentype'), url('fonts/Pixel-Art.woff2') format('woff2'), url('fonts/Pixel-Art.woff') format('woff'), url('fonts/Pixel-Art.ttf') format('truetype'), url('fonts/Pixel-Art.svg#Pixel-Art') format('svg');
}

html,
body {
  margin: 0;
  background: black linear-gradient(#C6E4EE 0%, #C6E4EE 40%, #FED1AE 60%, #FAA0B9 70%, #CB7DCB 80%, #757ECB 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: 'Pixel Art';
  user-select: none;
}

canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}