@font-face {
  font-family: 'Pixel Art';
  src: url('/fonts/Pixel-Art.eot');
  src: url('/fonts/Pixel-Art.eot?#iefix') format('embedded-opentype'), url('/fonts/Pixel-Art.woff2') format('woff2'), url('/fonts/Pixel-Art.woff') format('woff'), url('/fonts/Pixel-Art.ttf') format('truetype'), url('/fonts/Pixel-Art.svg#Pixel-Art') format('svg');
}

html,
body {
  margin: 0;
  background: black linear-gradient(rgb(135, 208, 233) 0%, rgb(117, 172, 189) 40%, rgb(209, 158, 118) 60%, rgb(184, 88, 115) 70%, rgb(143, 55, 143) 80%, rgb(37, 43, 99) 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: 'Pixel Art';
  user-select: none;
}

canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}